{% extends "base.html" %}
{% load static %} 
{% block stylesheet %}{% static 'store/css/store.css' %}{% endblock %}
{% block title %}
{% if product %}{{ allotment.title }}{% else %}Single{% endif %}
{% endblock %}
{% block content %}

<div class="container">
  <div class="row g-3">
    <div class="col-md-12">
      <div class="card mb-3 border-0">
          <div class="col-md-12">
              <table class="table table-responsive text-center">
                    <thead>
                      <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Code Heading</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                        <th scope="col">Alt Auth</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{single_expenditure.title}}</td>
                        <td>{{single_expenditure.altToBudgetCode}}</td>
                        <td>{{single_expenditure.allotedToUnit}}</td>
                        <td>{{single_expenditure.altAmount}}</td>
                        <td>{{single_expenditure.allotedOn}}</td>
                        <td>{{single_expenditure.altAuth}}</td>
                      </tr>
                      </tbody>
                  </table>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  
</script>

{% endblock %}