<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/admin">Admin Pannel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/grand">Summary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/alt">Allotment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/codes">Codewise Summary</a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" href="/suppliers">Companywise Summary</a>
      </li>
     <!--
       
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Suppliers
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        
         {% for sup in suppliers %}
         <a class="dropdown-item" href="#">{{sup.name}}</a>  
         {% endfor %}

        </div>
      </li>
  
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Budget Codes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        
         {% for bgt in categories %}
         <a class="dropdown-item" href="#">{{bgt.name}}</a>  
         {% endfor %}

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          consumer Units
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        
         {% for con in consumers %}
         <a class="dropdown-item" href="#">{{con.name}}</a>  
         {% endfor %}

        

        </div>
      </li>
-->
    </ul>
  </div>
</nav>